/* GLOBAL */


body {
	background-image: url(image/desk-3139127.jpg);
	background-size: cover;
	padding-top: 50px;
	background-attachment: fixed;
}

.header_logo {
	height: 103.267px;
	position: absolute;
	top: 0;
}

/* NAVBAR */

#mainNav {
	background-color: #212529;
}

#mainNav .navbar-toggler {
	font-size: 12px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: white;
	border: 0;
	background-color: #212529;
}

#mainNav .navbar-brand {
	color: #fed136;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
	color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 90%;
	font-weight: 400;
	padding: 0.75em 0;
	letter-spacing: 1px;
	color: white;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #fed136;
}

@media (min-width: 750px) {
	#mainNav {
		padding-top: 25px;
		padding-bottom: 25px;
		background-color: #212529;
	}

	#mainNav .navbar-brand {
		font-size: 1.75em;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	#mainNav .navbar-nav .nav-item .nav-link {
		padding: 1.1em 1em !important;
	}

	#mainNav.navbar-shrink {
		padding-top: 0;
		padding-bottom: 0;
		background-color: #212529;
	}

	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.25em;
		padding: 12px 0;
	}
}

/* CONTENU ACCUEIL*/

.colonne-milieu {
	width: 100%;
	margin: 80px auto;
	border: 2px solid #888;
	box-shadow: 0px 0px 2px #AAA;
	background-color: white;
	padding: 20px 10px;
}

.colonne-milieu h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	margin: 20px 0px 50px 0px;
}

.colonne-milieu span {
	color: orange;
}

@media (min-width: 750px) {
	.colonne-milieu {
		width: 80%;
		padding: 20px 50px;
		margin: 80px auto;
	}
}

/* CONTENU DETAIL */

.detail_present p,
.detail_present h2 {
	font-family: 'Century Gothic', Verdana, Calibri, serif;
	text-align: left;
}

.detail_titre {
	color: #243b5e;
}

.container .detail_img {
	height: 100%;
	width: 100%;
}

.container .detail_div {
	border-radius: 20px;
}

.container div .detail_img {
	border-radius: 20px;
}

.police-gras {
	font-weight: bold;
}

.container .detail_descri {
	border: 2px solid #888;
	box-shadow: 0 0 2px #AAA;
	padding: 3% 3%;
	font-size: 30px;
	word-break: break-all;
	background-color: #F0F0F0;
}
.detail_row{
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 992px) {
	.detail_descri {
		margin-top: 20px;
	}
}

@media (max-width: 768px) {
	.container  .detail_descri {
		font-size: 20px;
	}
	.container div.detail_present{
		padding:  5%;
	}

}

@media (max-width: 375px) {
	.container  .detail_descri {
		font-size: 16px;
	}
}

.container div.detail_row {
	margin: 50px;
}

.container div.detail_present {
	border: 2px solid #888;
	box-shadow: 0 0 2px #AAA;
	padding: 2% 2%;
	border-radius: 20px;
	background-color: #F0F0F0;
}

/* CONTENU CONTACT */

.contact_info {
	border: 2px solid #888;
	box-shadow: 0px 0px 2px #AAA;
	margin-top: 90px;
	margin-bottom: 50px;
}

.contact_img {
	width: 100%;
	height: 100%;
}

.formulaireContact{
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	flex-wrap: wrap;
}

.contact_card_text {
	padding-top: 20px;
	padding-bottom: 20px;
}

.contact_map {
	height: 350px;
	border: 2px solid #888;
	border-style: double;
	border-width: 5px;
	padding: 0;
	margin-bottom: 20px;
}

.contact_form {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 0;
}

.contact_button {
	position: absolute;
	left: 41%;
	margin-top: 20px;
}

@media (min-width: 992px){
	.contact_form{
		margin-left: 0px;
	}
}

/* CONTENU TROMBI */

.pillules{
	padding-top: -20px;
	margin-top: -45px;
	margin-bottom: 20px;
}

.alignement{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap : wrap;
}

.trombi_carte {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.trombi_ligne {
	margin-bottom: 20px;
}

.trombi_onglet {
	justify-content: center;
	font-size: 30px;
	margin-top: 150px;
}


.nav-pills .nav-link.active {
	color: #fff !important;
	background-color: orange;
}

.nav-pills .nav-link {
	border:2px solid black;
	border-radius: 5px;
	background-color: #F0F0F0;
	margin: 0px 12px;
	margin-bottom: 5px;
}

.carte_body{
	padding: 1.25rem 0px;
}
.trombi_nom {
	text-align: center;
	height: 100%;
	color: black;
}

/* FOOTER */

.footer {
	clear: both;
	width: 100%;
	border-top: 2px solid #888;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #212529;
	margin-top: 80px;
}

.footer p {
	font-size: 17px;
	text-align: center;
	color: white;
}

.img-footer {
	width: 100%;
	text-align: center;
}

.wild {
	border-radius: 50%;
}

.coeur {
	color: red;
}