/* GLOBAL */


@font-face {
	font-family:"abel";
	src:local("police/Abel-Regular.ttf") format("truetype");
}



body {
	font-family:"abel";
	background-image: url(image/desk-3139127.jpg);
	background-size: cover;
	padding-top: 50px;
	background-attachment: fixed;
}
.header_logo{
    height: 103.267px;
    position: absolute;
    top: 0;
}


/* CONTENU DETAIL */

.detail_present p,
.detail_present h2 {
	font-family: 'Century Gothic', Verdana, Calibri, serif;
	text-align: left;
}

.detail_titre {
	color: #243b5e;
}

.container .row .detail_img {
	height: 100%;
	width: 100%;
}

.container .row .detail_div {
    border-radius: 20px;
}

.container .row div .detail_img {
    border-radius: 20px;
}

.police-gras{
	font-weight: bold;
}
.container .row .detail_descri{
    border : 2px solid #888;
    box-shadow: 0 0 2px #AAA;
    padding: 3% 3%;
    font-size: 30px;
    word-break: break-all;
    background-color: #F0F0F0;
}

@media (max-width: 992px) {
	.detail_descri {
		margin-top: 20px;
	}
}
@media (max-width: 768px){
    .container .row .detail_descri{
        font-size: 20px;
    }
    .header_logo{
        height: 56px;
    }
}
@media (max-width: 375px){
    .container .row .detail_descri{
      font-size:16px;
    }
}

.container section.detail_row {
	margin: 50px;
}

.container section.row.detail_present{
    border : 2px solid #888;
    box-shadow: 0 0 2px #AAA;
    padding: 5% 5%;
    border-radius: 20px;
    background-color: #F0F0F0;
}

/* NAVBAR */

#mainNav {
	background-color: #212529;
}

#mainNav .navbar-toggler {
	font-size: 12px;
	right: 0;
	padding: 13px;
	text-transform: uppercase;
	color: white;
	border: 0;
	background-color: #212529;
}

#mainNav .navbar-brand {
	color: #fed136;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
	color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 90%;
	font-weight: 400;
	padding: 0.75em 0;
	letter-spacing: 1px;
	color: white;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #fed136;
}

@media (min-width: 750px) {
	#mainNav {
		padding-top: 25px;
		padding-bottom: 25px;
		background-color: #212529;
	}

	#mainNav .navbar-brand {
		font-size: 1.75em;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	#mainNav .navbar-nav .nav-item .nav-link {
		padding: 1.1em 1em !important;
	}

	#mainNav.navbar-shrink {
		padding-top: 0;
		padding-bottom: 0;
		background-color: #212529;
	}

	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.25em;
		padding: 12px 0;
	}
}

/* IMAGE ENTETE accueil */

header.masthead {
	text-align: center;
	color: orange;
	background-image: url("image/fond.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
}

header.masthead .intro-text {
	padding-top: 100px;
	padding-bottom: 100px;
}

header.masthead .intro-text .intro-heading {
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 10px;
}

@media (min-width: 750px) {
	header.masthead .intro-text {
		padding-top: 300px;
		padding-bottom: 200px;
	}

	header.masthead .intro-text .intro-heading {
		font-size: 65px;
		font-weight: 700;
		line-height: 75px;
		margin-bottom: 40px;
	}
}

/* IMAGE ENTETE detail */


/* CONTENU ACCUEIL*/

.colonne-milieu {
	width: 80%;
	margin: 40px auto;
	border: 2px solid #888;
	box-shadow: 0px 0px 2px #AAA;
	background-color: white;
	padding: 20px 50px;
}

.colonne-milieu h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	margin: 20px 0px 50px 0px;
}

.colonne-milieu span {
	color: orange;
}

/* FOOTER */

.footer{
    clear: both;
    width: 100%;
    border-top: 2px solid #888;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #212529;
    margin-top: 80px;
}


.footer p {
	font-size: 13px;
	text-align: center;
	color: white;
}

.img-footer {
	width: 100%;
	text-align: center;
}

.wild {
	border-radius: 50%;
}

.coeur {
	color:red;
}

/* CONTENU CONTACT */

.contact_info {
	border: 2px solid #888;
	box-shadow: 0px 0px 2px #AAA;
	margin-top: 90px;
	margin-bottom: 50px;
}

.contact_img {
	width: 100%;
	height:100%;
}


/* CONTENU TROMBI */

.trombi_carte {
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}

.trombi_ligne {
  margin-bottom: 20px;
}

.trombi_onglet { 
  justify-content: center; 
  font-size: 30px;
  margin-top:150px;
  }


.photoElne { 
  height: 20em;
  background-image: url("images/elneris.jpg");
  background-size: cover;
 }

 .img-php { 
  height: 20em;
  width: 100%;
 }

 .photoJulie { 
  height: 20em;
  background-image: url("images/julie.jpg");
  background-size: cover;
 }

 .photoNico { 
  height: 20em;
  background-image: url("images/nico.jpg");
  background-size: cover;
 }

.photoMartin {
  height: 20em;
  background-image: url("images/martin2.jpg");
  background-size: cover;
}

@media (min-width: 992px) {
	.photoElne:hover {
	  background-image: url("images/elneris2.jpg");
	}
	.photoMartin:hover {
  	background-image: url("images/martin.jpg");
	}
  .photoJulie:hover {
    background-image: url("images/julie2.jpg");
  }
  .photoNico:hover {
    background-image: url("images/nico2.jpg");
  }
}





.trombi_nom {
	text-align: center;
	height: 100%;
}

.contact_card_text {
	padding-top: 20px;
	padding-bottom: 20px;
}

.contact_map {
	border: 2px solid #888;
	border-style: double;
	border-width: 5px;
	padding: 0;
}

.contact_form {
	margin-bottom: 0;
}

.contact_button {
	position: absolute;
	left: 41%;
}

