
.ligne {margin-bottom: 20px;}

.photoElne { width: 18rem;
				height: 20em;
				background-image: url("images/elneris.jpg");
				background-size: 18em;
 }

.photoElne:hover {
	background-image: url("images/elneris2.jpg");
    background-size: 18em;
    }


.photoMartin { width: 18rem;
				height: 20em;
				background-image: url("images/martin2.jpg");
				background-size: 18em;
 }

.photoMartin:hover {
	background-image: url("images/martin.jpg");
    background-size: 18em;
    }
